/* 
-----------------------------------------------
Newspaper Reports Template Style
Name:        Newspaper Reports
License:     Premium Version
Version:     3.0
Author:      Newspaper Reports
Author Url:  https://www.newspaperreports.com
Contact:     asupdatemedia518@gmail.com
----------------------------------------------- */

:root {
    --global-cg-link-font: 700 14px / 28px 'Unify Sans', 'Helvetica Neue', 'Arial Nova', Helvetica, Arial, sans-serif;
    --global-author-font: 'Unify Sans', 'Helvetica Neue', 'Arial Nova', Helvetica, Arial, sans-serif;
    --global-author-font-color: #000;
    --global-nprAS-hd-ads-content: 'Advertisement - scroll for more content';
    --global-nprAS-hd-ads-onylyContent: 'Advertiser';
    --global-nprAS-hd-ads-color: #787878;
    --global-nprAS-hd-ads-font: 'Helvetica Neue', 'Arial Nova', Helvetica, Arial, sans-serif;
    --global-asM-ads-author-font: 'Unify Sans', 'Helvetica Neue', 'Arial Nova', Helvetica, Arial, sans-serif;
    --global-asM-ads-author-color: #626262;
    --global-asM-ads-author-hover-color: #b60a7c;
    --font-family-global: 'Helvetica Neue', 'Arial Nova', Helvetica, Arial, sans-serif;
    --global-item-headline-font: 'Unify Sans', 'Helvetica Neue', 'Arial Nova', Helvetica, Arial, sans-serif;
    --global-top-headlines-font: 'Georgia Pro', Georgia, 'Droid Serif', serif;
    --global-item-hero-headline-color: #303030;
    --global-item-headline-color: #000;
    --global-item-headline-hover-color: #626262;
    --global-item-description-font: 'Georgia Pro', Georgia, 'Droid Serif', serif;
    --global-item-description-color: #303030;
    --global-item-description-hover-color: #575050fb;
    --global-item-tag-font: 'Helvetica Neue', 'Arial Nova', Helvetica, Arial, sans-serif;
    --global-item-tag-color: #AA1E23;
    --global-item-publish-time-color: #626262;
    --global-border-any-side-color: #c2c2c2;
    --global-third-party-athor-font: 'Unify Sans', 'Helvetica Neue', 'Arial Nova', Helvetica, Arial, sans-serif;
    --global-third-party-athor-color: #626262;
    --txt-whi-color: #ffffff;
    --txt-headline-bg-white: #FFFFFF;
    --txt-bl-color: #000;
    --gbMenuBg-color: #303030;
    --cgHover-color: #ff00bf;
    --hero-pTitleHover-color: #01eeff;
    --btnBx-color: #04AA6D;
    --global-cg-link-color: #fff;
    --global-cg-link-hover-color: #00FF7F;
    --global-border-top-color: rgb(0, 152, 254);
    
}

.npr_mnp_ct {
    width: 90%;
    max-width: 1024px;
    margin-inline: auto;
}

.npr_mnp_items {
    align-items: center;
    position: relative;
    height: 50px;
    overflow: hidden;
    margin: 30px 0px;
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0));
}

.npr_mnp_items .npr_mnp_it {
    position: absolute;
    left: calc(150px * 20);
    animation-name: nprMnpXanimate;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.npr_mnp_it img {
    width: 150px;
    height: 50px;
    object-fit: cover;
}

@keyframes nprMnpXanimate {
    to {
        left: -100%;
    }
}

.npr_mnp1 {
    animation-delay: calc(30s / 20 * (20 - 1) * -1);
}

.npr_mnp2 {
    animation-delay: calc(30s / 20 * (20 - 2) * -1);
}

.npr_mnp3 {
    animation-delay: calc(30s / 20 * (20 - 3) * -1);
}

.npr_mnp4 {
    animation-delay: calc(30s / 20 * (20 - 4) * -1);
}

.npr_mnp5 {
    animation-delay: calc(30s / 20 * (20 - 5) * -1);
}

.npr_mnp6 {
    animation-delay: calc(30s / 20 * (20 - 6) * -1);
}

.npr_mnp7 {
    animation-delay: calc(30s / 20 * (20 - 7) * -1);
}

.npr_mnp8 {
    animation-delay: calc(30s / 20 * (20 - 8) * -1);
}

.npr_mnp9 {
    animation-delay: calc(30s / 20 * (20 - 9) * -1);
}

.npr_mnp10 {
    animation-delay: calc(30s / 20 * (20 - 10) * -1);
}

.npr_mnp11 {
    animation-delay: calc(30s / 20 * (20 - 11) * -1);
}

.npr_mnp12 {
    animation-delay: calc(30s / 20 * (20 - 12) * -1);
}

.npr_mnp13 {
    animation-delay: calc(30s / 20 * (20 - 13) * -1);
}

.npr_mnp14 {
    animation-delay: calc(30s / 20 * (20 - 14) * -1);
}

.npr_mnp15 {
    animation-delay: calc(30s / 20 * (20 - 15) * -1);
}

.npr_mnp16 {
    animation-delay: calc(30s / 20 * (20 - 16) * -1);
}

.npr_mnp17 {
    animation-delay: calc(30s / 20 * (20 - 17) * -1);
}

.npr_mnp18 {
    animation-delay: calc(30s / 20 * (20 - 18) * -1);
}

.npr_mnp19 {
    animation-delay: calc(30s / 20 * (20 - 19) * -1);
}

.npr_mnp20 {
    animation-delay: calc(30s / 20 * (20 - 20) * -1);
}
