* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* 
-----------------------------------------------
Newspaper Reports Template Style
Name:        Newspaper Reports
License:     Premium Version
Version:     3.0
Author:      Newspaper Reports
Author Url:  https://www.newspaperreports.com
Contact:     asupdatemedia518@gmail.com
----------------------------------------------- */

:root {
    --global-cg-link-font: 700 14px / 28px 'Unify Sans', 'Helvetica Neue', 'Arial Nova', Helvetica, Arial, sans-serif;
    --global-author-font: 'Unify Sans', 'Helvetica Neue', 'Arial Nova', Helvetica, Arial, sans-serif;
    --global-author-font-color: #000;
    --global-nprAS-hd-ads-content: 'Advertisement - scroll for more content';
    --global-nprAS-hd-ads-onylyContent: 'Advertiser';
    --global-nprAS-hd-ads-color: #787878;
    --global-nprAS-hd-ads-font: 'Helvetica Neue', 'Arial Nova', Helvetica, Arial, sans-serif;
    --global-asM-ads-author-font: 'Unify Sans', 'Helvetica Neue', 'Arial Nova', Helvetica, Arial, sans-serif;
    --global-asM-ads-author-color: #626262;
    --global-asM-ads-author-hover-color: #b60a7c;
    --font-family-global: 'Helvetica Neue', 'Arial Nova', Helvetica, Arial, sans-serif;
    --global-item-headline-font: 'Unify Sans', 'Helvetica Neue', 'Arial Nova', Helvetica, Arial, sans-serif;
    --global-top-headlines-font: 'Georgia Pro', Georgia, 'Droid Serif', serif;
    --global-item-hero-headline-color: #303030;
    --global-item-headline-color: #000;
    --global-item-headline-hover-color: #626262;
    --global-item-description-font: 'Georgia Pro', Georgia, 'Droid Serif', serif;
    --global-item-description-color: #303030;
    --global-item-description-hover-color: #575050fb;
    --global-item-tag-font: 'Helvetica Neue', 'Arial Nova', Helvetica, Arial, sans-serif;
    --global-item-tag-color: #AA1E23;
    --global-item-publish-time-color: #626262;
    --global-border-any-side-color: #c2c2c2;
    --global-third-party-athor-font: 'Unify Sans', 'Helvetica Neue', 'Arial Nova', Helvetica, Arial, sans-serif;
    --global-third-party-athor-color: #626262;
    --txt-whi-color: #ffffff;
    --txt-headline-bg-white: #FFFFFF;
    --txt-bl-color: #000;
    --gbMenuBg-color: #303030;
    --cgHover-color: #ff00bf;
    --hero-pTitleHover-color: #01eeff;
    --btnBx-color: #04AA6D;
    --global-cg-link-color: #fff;
    --global-cg-link-hover-color: #00FF7F;
    --global-border-top-color: rgb(0, 152, 254);
    
}

.as_responsive_area {
    position: sticky;
    top: 0;
    z-index: 99999;
}

.mb_Menu_section {
    border-top: 5px solid rgb(0, 152, 254);
}

.mb_topMenu_ct {
    background-color: #fff;
}

.mb_Menu_section .d-flex {
    display: flex;
}

.mb_Menu_area {
    width: 90%;
    max-width: 1200px;
    margin: auto auto;
}

.mb_topMenu_info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: auto;
}

.mb_tMenu_icon {
    width: 50px;
}

.mb_tMenu_icon .fas,
.mb_mainSearch_icon .fas {
    font-size: 20px;
    font-weight: 800;
    padding: 6px 7px;
    background-color: #37e054;
    border-radius: 50%;
    cursor: pointer;
}

.mb_tMenu_logo a {
    text-decoration: none;
    /* font: 700 26px / 28px 'Unify Sans', 'Helvetica Neue', 'Arial Nova', Helvetica, Arial, sans-serif; */
    display: block;
    padding: 5px 0;
}

.gSearch_icon .fa {
    width: 24px;
    font-size: 14px;
    display: inline-block;
    cursor: pointer;
    color: var(--txt-whi-color);
}

.gSearch_btn_mb {
    position: absolute;
    width: 0%;
    max-width: 100%;
    height: 200px;
    top: 50px;
    right: 0;
    z-index: 999;
    align-items: center;
    justify-content: center;
    border-top: 3px solid rgb(0, 152, 254);
    background-color: #000;
    border-radius: 10px;
    overflow: hidden;
    transition: all .3s ease-in-out;
}

.gSearch_btn_mb .mb_search_dt {
    width: 90%;
    align-items: center;
    padding-bottom: 5px;
    border-bottom: 3px solid #fff;
}

.mb_search_dt .mb_searchBx {
    width: 98%;
    padding: 0px 10px 0px 0px;
    font-weight: 500;
    font-size: 26px;
    height: 28px;
    margin-right: 10px;
    border: none;
    outline: none;
    color: var(--txt-whi-color);
    background: 0 0;
}

.mb_search_dt .fa {
    font-size: 36px;
    color: var(--txt-headline-bg-white);
}
.mb_search_dt .fa:hover{
    color: #01eeff;
}

.mb_search_dt #closeMbgSearch {
    position: absolute;
    top: 20px;
    right: 5%;
    border: 1px solid ;
    padding: 10px 12px;
    border-radius: 50px;
    font-size: 18px;
    color: #01eeff;
    background-color: #bd2727;
    cursor: pointer;
}


/* Mobile Slide Menu Category */
.slide {
    width: 0px;
    height: calc(100% - 30px);
    position: absolute;
    top: 5px;
    background-color: #fff;
    transition: 0.3s ease;
    box-shadow: 0px 0px 10px #000;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 999;
}

.menu a {
    display: block;
    text-align: right;
    padding: 5px 0;
    padding-right: 10px;
    pointer-events: none;
    border-bottom: 3px solid #8000ff;
}

.slide ul {
    margin: 20px 0px 20px 20px;
}

.slide ul li {
    list-style: none;
    
}

.slide ul li a  {
    color: #000;
    font-weight: 500;
    padding: 5px 0px;
    display: block;
    text-transform: capitalize;
    text-decoration: none;
    transition: 0.2s ease-out;
    font: 700 16px / 18px 'Unify Sans', 'Helvetica Neue', 'Arial Nova', Helvetica, Arial, sans-serif;
    letter-spacing: 0.5px;
}

.slide ul li a:hover {
    color: #db10e2;
}

.mb_close_icon .fas {
    color: #fff;
    position: absolute;
    top: 15px;
    left: 25px;
    z-index: 1;
    font-size: 25px;
    background-color: #8000ff;
    padding: 5px 8px;
    border-radius: 50%;
    cursor: pointer;
}

.mb_user_ct {
    display: flex;
    flex-flow: column;
    margin-top: 20px;
    gap: 20px;
}

.mb_user_btn{
    padding-bottom: 5px;
}

.mb_user_btn a {
    text-decoration: none;
    color: #000;
    border: 1px solid #000;
    border-radius: 3px;
    padding: 8px 15px;
    font: 700 14px / 18px 'Unify Sans', 'Helvetica Neue', 'Arial Nova', Helvetica, Arial, sans-serif;
    letter-spacing: 0.5px;
}

.mb_user_btn a:focus,
.mb_user_btn a:hover {
    color: #fff;
    background-color: #000;
}



